/* src/components/TopBar.css */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .title {
    font-size: 1.5em;
  }
  
  .menu-button {
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    right: 20px;
    top: 70px; /* Adjust this value to move the menu down */
    width: 200px; /* Adjust this value to change the width */
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
  }
  
  .dropdown-menu button {
    display: block;
    width: 100%;
    padding: 15px; /* Adjust this value to change the height */
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
  }
  
  .dropdown-menu button:hover {
    background-color: #ddd;
  }
  